<!-- Testes Cliente de Simulador Automatos
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->
 
{{if value_err == 0:}}
<h3>O autómato {{=automato_num}} foi configurado com o tipo {{=automato_config}}</h3>
{{elif value_err == 1:}}
<!-- 1 - Erro de Leitura do autómato -->
<h3>O autómato {{=automato_num}} não foi configurado.</h3>
<script>
    alert('{{=msg_erro}}')
</script>
{{pass}}