<!-- Testes Cliente de Simulador Automatos
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->
 
{{if value_err == 0:}}
<h3>Estado do autómato número {{=automato_num}} do tipo {{=automato_config}}</h3>
<p>Data de inicio: {{=dateini}}&nbsp&nbsp&nbsp&nbsp&nbspHora de inicio: {{=timeini}}</p>
<p>Tempo total: {{=tempo_total}} horas&nbsp&nbsp&nbsp&nbsp&nbspTempo funcionamento: {{=tempo_funcionamento}} horas&nbsp&nbsp&nbsp&nbsp&nbspDisponibilidade: {{=disponibilidade}} %</p>
<p>Total produzido: {{=total_produzido}} unidades&nbsp&nbsp&nbsp&nbsp&nbspQuantidade produzida por hora: {{=quantidade_produzida_hora}} unidades</p>
<p>Estado do autómato: {{=estado}}&nbsp&nbsp&nbsp&nbsp&nbspMensagem de alerta: {{=alerta}}</p>
<h4>{{=base_dados}}</h4>
{{elif value_err == 1:}}
<!-- 1 - Erro de Leitura do autómato -->
<script>
    alert('{{=msg_erro}}')
</script>
{{elif value_err == 2:}}
<!-- 2 - Erro de Iserção na tabela Mensagens -->
<h3>Estado do autómato número {{=automato_num}} do tipo {{=automato_config}}</h3>
<p>Data de inicio: {{=dateini}}&nbsp&nbsp&nbsp&nbsp&nbspHora de inicio: {{=timeini}}</p>
<p>Tempo total: {{=tempo_total}} horas&nbsp&nbsp&nbsp&nbsp&nbspTempo funcionamento: {{=tempo_funcionamento}} horas&nbsp&nbsp&nbsp&nbsp&nbspDisponibilidade: {{=disponibilidade}} %</p>
<p>Total produzido: {{=total_produzido}} unidades&nbsp&nbsp&nbsp&nbsp&nbspQuantidade produzida por hora: {{=quantidade_produzida_hora}} unidades</p>
<p>Estado do autómato: {{=estado}}&nbsp&nbsp&nbsp&nbsp&nbspMensagem de alerta: {{=alerta}}</p>
<h4>{{=base_dados}}</h4>
<script>
    alert('{{=msg_erro}}')
</script>
<!-- 3 - Erro de autómato não configurado -->
{{elif value_err == 3:}}
<h3>Autómato número {{=automato_num}} não configurado!</h3>
<script>
    alert('{{=msg_erro}}')
</script>
{{pass}}




