<!-- Testes Cliente de Simulador Automatos
 UC: Desenvolvimento de Software 2015 01
 SimProgramming G3 - Projeto MGM
 Aluno: 1002599 - Octavio Augusto da Silva Oliveira -->
{{extend 'layout.html'}}
 <body>
   <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
<form>
<h3>Simulador de autómatos</h3>		
<table>
  <tr>
    <td><INPUT type="button" value="Consultar"
       onclick="ajax('{{=URL('consultar_automato')}}',['ip','port','num_automato'],'target');"/></td>
    <td><INPUT type="button" value="Configurar"
       onclick="ajax('{{=URL('configurar_automato')}}',['ip','port','num_automato', 'tipo', 'quantidade','estados','alertas'],'target');"/></td>		
    <td><INPUT type="button" value="Configurar Todos"
       onclick="ajax('{{=URL('configurar_automato_todos')}}',['ip','port','num_automato', 'tipo', 'quantidade','estados','alertas'],'target');"/></td>
	   <td><INPUT type="button" value="Ligar simulador"
       onclick="ajax('{{=URL('set_simulador')}}',['port'],'');"/></td>
  </tr>
</table>

<table>
  <tr>
    <th>Endereço</th>
    <th>Porta</th>		
    <th>Autómato</th>
	<td></td>
  </tr>
  <tr>
    <td><INPUT type="text" id="ip" name = "ip" value="localhost"/></td>
    <td><INPUT type="text" id="port" name = "port" value="8001"/></td>		
    <td>
		<select id="num_automato" name = "num_automato">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
	<td></td>
  </tr>
 </table>
 <h4>Dados de configuração</h4>
 <table>
  <tr>
    <td>Tipo de autómato&nbsp&nbsp</td>
    <td>Máximo quantidade produzida/hora&nbsp&nbsp</td>		
    <td>Máximo Estados&nbsp&nbsp</td>
	<td>Máximo Alertas</td>
  </tr>
  <tr>
    <td>
		<select id="tipo" name = "tipo">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		</select>
	</td>
    <td><INPUT type="text" id="quantidade" name = "quantidade" value="20"/></td>		
    <td>
		<select id="estados" name = "estados">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
	<td>
		<select id="alertas" name = "alertas">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		</select>
	</td>
  </tr>
</table>
</form>
<div id="target"></div>
<form>
<h3>Base de Dados</h3>
<table>
  <tr>
	<td><INPUT type="button" value="Mensagens"
       onclick="window.open('{{=URL('display_msg')}}');"/></td>
	<td><INPUT type="button" value="Estados"
       onclick="window.open('{{=URL('display_estado')}}');"/></td>
	<td><INPUT type="button" value="Alertas"
       onclick="window.open('{{=URL('display_alertas')}}');"/></td>
	<td><INPUT type="button" value="Autómatos"
       onclick="window.open('{{=URL('display_automatos')}}');"/></td>
  </tr>
</table>
</form>
</body>